In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Mostrar gráficos diretamente no notebook
%matplotlib inline

## Carregando os dados do INEP

#### Visualizar as primeiras linhas

In [2]:
import pandas as pd

df = pd.read_csv('enade.csv', sep=';', encoding='latin1')
df.head()

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Município do Curso**,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa)
0,2023,6002.0,ENGENHARIA DE ALIMENTOS,Bacharelado,699.0,FUNDAÇÃO UNIVERSIDADE FEDERAL DE RONDÔNIA,UNIR,Universidade,Pública Federal,116776.0,...,Ariquemes,RO,4.0,4.0,"50,55","2,123411382","42,75","2,107348703","2,111364373",3
1,2023,17.0,AGRONOMIA,Bacharelado,4785.0,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,IFRO,"Instituto Federal de Educação, Ciência e Tecno...",Pública Federal,1427412.0,...,Ariquemes,RO,34.0,34.0,"48,33529412","2,79870416","56,88529412","3,309191089","3,181569357",4
2,2023,5710.0,ENGENHARIA CIVIL,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,1259888.0,...,Ariquemes,RO,24.0,21.0,"47,82857143","2,296813462","31,13809524","1,59527528","1,770659825",2
3,2023,23.0,ENFERMAGEM,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104306.0,...,Ariquemes,RO,35.0,34.0,"46,49705882","2,348003123","44,67352941","1,596814508","1,784611662",2
4,2023,19.0,FARMÁCIA,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104308.0,...,Ariquemes,RO,23.0,23.0,"40,16956522","1,417747523","32,63478261","0,799276435","0,953894207",2

#### Estrutura da tabela

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ano                               9814 non-null   object
 1   Código da Área                    9812 non-null   float64
 2   Área de Avaliação                 9812 non-null   object
 3   Grau Acadêmico                    9812 non-null   object
 4   Código da IES                     9812 non-null   float64
 5   Nome da IES*                      9812 non-null   object
 6   Sigla da IES*                     8567 non-null   object
 7   Organização Acadêmica             9812 non-null   object
 8   Categoria Administrativa          9812 non-null   object
 9   Código do Curso                   9812 non-null   float64
 10  Modalidade de Ensino              9812 non-null   object
 11  Código do Município**             9812 non-null   float64
 12  Município do Curso**              9812 non-null   object
 13  Sigla da UF**                     9812 non-null   object
 14  Nº de Concluintes Inscritos       9812 non-null   float64
 15  Nº  de Concluintes Participantes  9812 non-null   float64
 16  Nota Bruta - FG                   9380 non-null   object
 17  Nota Padronizada - FG             9380 non-null   object
 18  Nota Bruta - CE                   9380 non-null   object
 19  Nota Padronizada - CE             9380 non-null   object
 20  Conceito Enade (Contínuo)         9380 non-null   object
 21  Conceito Enade (Faixa)            9812 non-null   object
dtypes: float64(6), object(16)
memory usage: 1.6+ MB

#### Estatísticas Básicas

In [6]:
df.describe()

,Código da Área,Código da IES,Código do Curso,Código do Município**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes
count,9812.000000,9812.000000,9.812000e+03,9.812000e+03,9812.000000,9812.000000
mean,2093.514778,2845.561557,8.530443e+05,3.408140e+06,41.407868,35.337138
std,2825.544709,4760.763675,9.556401e+05,9.425349e+05,82.065851,64.379741
min,5.000000,1.000000,3.000000e+00,1.100023e+06,1.000000,0.000000
25%,21.000000,437.000000,8.194775e+04,2.927408e+06,13.000000,11.000000
50%,36.000000,1173.000000,1.158212e+06,3.505500e+06,26.000000,23.000000
75%,5806.000000,2779.000000,1.330392e+06,4.113700e+06,47.000000,41.000000
max,6411.000000,25352.000000,5.001707e+07,5.300108e+06,3754.000000,2874.000000

#### Tratando valores

In [7]:
df.isnull().sum()
df = df.dropna()  # Remove linhas com dados faltantes

#### Seleção de colunas

In [11]:
df = df[['Ano', 'Área de Avaliação', 'Sigla da IES*']]

#### Média de uma coluna por ano

In [18]:
df.groupby('Ano')['Matriculados'].mean()

KeyError: 'Column not found: Matriculados'